colorama==0.3.9
attrs==17.4.0
click==6.7
flask-restplus==0.10.1
Jinja2==2.10
aniso8601==3.0.0
psycopg2==2.7.4
pluggy==0.6.0
WTForms==2.1
jsonschema==2.6.0
visitor==0.1.3
Flask-Bootstrap==3.3.7.1
pytest==3.5.1
six==1.11.0
Flask-Migrate==2.1.1
more-itertools==4.1.0
Flask-Login==0.4.1
python-editor==1.0.3
Mako==1.0.7
itsdangerous==0.24
urllib3==1.22
py==1.5.3
Flask-Testing==0.7.1
python-dateutil==2.7.2
waitress==1.1.0
dominate==2.3.1
Flask==0.12.2
Werkzeug==0.14.1
elasticsearch==6.2.0
pytz==2018.4
alembic==0.9.9
Flask-SQLAlchemy==2.3.2
MarkupSafe==1.0
Flask-WTF==0.14.2
SQLAlchemy==1.2.6
