body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

a {
    text-decoration: none;
}

hr{
    opacity: 0.5;
}

#footer {
    position: fixed;
    text-align: center;
    width: 100%;
}

#footer a{
    right: 0;
    left: 0;
    margin: 0px;
    padding: 1rem;
    text-align: center;
}

#searchbar input[type=text] {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchbar input[type=text]:focus {
    width: 300%;
}

#menu-container a {
    width: 100px;
    top: 0px;
    float: right;
}


#container {
    overflow: hidden;
}

#title {
    float: left;
    display: inline-block;
}

#title h1 {
    padding-top: 15px;
    margin: 0px;
    font-size: 30px;
}

#searchbar {
    float: left;
    padding-top: 13px;
    margin: 10px;
    display: inline-block;
}

#post-title {
    display: inline-block;
}

#post-title td {
    float: left;
    font-family: arial, sans-serif;
}

#voting{
    width: 70px;
    height: 60px;
    display: inline-block;
    float: left;
}

#bottom-links {
    display: inline;
}

#bottom-links a {
    font-weight: bold;
    font-size: 12px;
    margin: 3px;
}

#bottom-links form{
    display: inline;
}

#bottom-links input[type="submit"]{
    font-weight: bold;
    font-size: 12px;
    background: none;
    border: none;
    outline: none;
    color: blue;
    cursor: pointer;
}
