body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

hr{
    opacity: 0.5;
}

footer {
    text-align: center;
    width: 100%;
}

footer a{
    right: 0;
    left: 0;
    margin: 0px;
    padding: 1rem;
    text-align: center;
}

#searchbar input[type=text] {
    width: 200px;
    height: 25px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchbar input[type=text]:focus {
    width: 300%;
}

#menu-container a {
    width: 100px;
    top: 0px;
    float: right;
}


#container {
    overflow: hidden;
}

#title {
    float: left;
    display: inline-block;
}

#title h1 {
    padding-top: 15px;
    margin: 0px;
    font-size: 25px;
}

#searchbar {
    float: left;
}

#center-post-container {
    padding-left: 250px;
}

#post-container {
    padding-left: 5px;
}

#post-title-event td {
    font-color: #888;
    font-size: 12px;
}

#voting{
    width: 60px;
    height: 70px;
    display: inline-block;
    float: left;
}

#post-score {
    margin-bottom: 0px;    
}

#upvote input{
    width: 40px;
    height: 40px;
    background:url("img/arrow_up_normal.png") no-repeat;
    border: none;
    cursor: pointer;
}

#upvote {
    width: 30px;
    height: 30px;
}

#downvote {
    width: 30px;
    height: 30px;
    margin-top: 0px;
}

#downvote input{
    width: 40px;
    height: 40px;
    background:url("img/arrow_down_normal.png") no-repeat;
    border: none;
    cursor: pointer;
}

#post-body {
    margin-left: 78px;
}

#extended-information {
    display: inline-block;
    color: #888;
    margin: 3px;
    font-size: 12px;
}

#bottom-links {
    display: inline;
}

#bottom-links form{
    display: inline;
    width: 0px;
}

#bottom-links input[type="submit"]{
    font-weight: bold;
    font-size: 10px;
    background: none;
    border: none;
    outline: none;
    color: #888;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

#bottom-links a {
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    background-color: lightblue;
}

#about-text {
    text-align: center;
    padding-left: 10px;
}

#about-text p {
    font-size: 15px;
}
