<div id="post-container">

    <table>

        <tr valign="top">

            <div class="post-title">
                <td><a href="{{ post.text }}">{{ post.title }}</a> by <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a></td>

            <br>
            {% for topic in post.topics if post.topics %}
            <td><a href="{{ url_for('search_topic', topic_query=topic.id) }}">{{ topic.tag_name }}</a></td>
            {% endfor %}

            <td>{{ post.hotness }}</td>
            </div>

            <td>Score: {{ post.score }}</td>
    
            {% if current_user.username == post.author.username %}
            <div class="post-delete">
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method=post>
                    <input type="submit" value="Delete">
                </form>
            </div>
            {% endif %}

            <form action="{{ url_for('vote', post_id=post.id) }}" method=post>
                <input type="submit" name="upvote" value="upvote">
                <input type="submit" name="downvote" value="downvote">
            </form>

            <form action="{{ url_for('give_importance', post_id=post.id) }}" method=post>
                <input type="submit" name="important" value="important">
            </form>
            <td><a href="{{ url_for('item', post_id=post.id) }}">View Comments</a></td>
    
        </tr>
    
    </table>
</div>
