<div id="post-container">

    <table>

        <tr valign="top">

            <div class="post-title">
                {% if post.is_link %}
                    <td><a href="{{ post.link }}">{{ post.title }}</a></td>
                {% else %}
                    <td><a href="{{ url_for('item', post_id=post.id) }}">{{ post.title }}</a></td>
                    
                {% endif %}

                <br>
                {% for topic in post.topics if post.topics %}
                <td><a href="{{ url_for('search_topic', topic_query=topic.id) }}">{{ topic.tag_name }}</a></td>
                {% endfor %}

                <td>Score: {{ post.score }}</td>
            </div>
    

            <div id="voting">
                <form action="{{ url_for('vote', post_id=post.id) }}" method=post>
                    <div id=upvote>
                        <input type="submit" name="upvote" value="upvote" style='width:70px;'>
                    </div>

                    <div id=downvote>
                        <input type="submit" name="downvote" value="downvote" style='width:70px;'>
                    </div>

                </form>
            </div>

        </tr>

    </table>

    <div id="extended-information">
        <p>by <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a></p>
    </div> 

    <div id="bottom-links">

        <form action="{{ url_for('item', post_id=post.id) }}" method=get>
            <input type="submit" value="View Comments">
        </form>

        {% if current_user.username == post.author.username %}
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method=post>
                <input type="submit" value="Delete">

            </form>
        {% endif %}

        <form action="{{ url_for('give_importance', post_id=post.id) }}" method=post>
            <input type="submit" name="important" value="important">
        </form>

    </div>
</div>
