<div id="post-container">

    <table>

        <tr valign="top">

   
            <div id="post-title">
                {% if post.is_link %}
                    <td><a href="{{ post.link }}">{{ post.title }}</a></td>
                {% else %}
                    <td><a href="{{ url_for('item', post_id=post.id) }}">{{ post.title }}</a></td>
                    
                {% endif %}

                {% if post.event %}
                    <div id="post-title-event">
                        <td><a href="{{ url_for('search_event', event_query=post.event.event_name) }}"style="color: #888; padding-left: 7px; font-size: 12px; padding-top: 5px;">
                            {{ post.event }}
                    </a></td>
                    </div>
                {% endif %}

            </div>

            <br />

            <div id="voting">


                <div id="voting-form">
                    <form action="{{ url_for('vote', post_id=post.id) }}" method=post>
    
                        {% if check_if_upvoted(post, current_user) %}
    
                             <div id=upvote>                   
                                 <input type="submit" name="upvote" value="" style="background-position: -40px;"> 
                             </div>
    
                        {% else %}
                           
                             <div id=upvote>                   
                                 <input type="submit" name="upvote" value="" style="background-position: 0px;"> 
                             </div>
    
                        {% endif %}

    
                        {% if check_if_downvoted(post, current_user) %}
    
                             <div id=downvote>                   
                                 <input type="submit" name="downvote" value="" style="background-position: -40px;"> 
                             </div>
    
                        {% else %}
                           
                             <div id=downvote>                   
                                 <input type="submit" name="downvote" value="" style="background-position: 0px;"> 
                             </div>
    
                        {% endif %}
    
                    </form>
                </div>
            </div>

        </tr>

    </table>



    <div id="extended-information">
        <p>by <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> Score: {{ post.score }}</p>
    </div> 

    <div id="bottom-links">

        <form action="{{ url_for('item', post_id=post.id) }}" method=get>
            <input type="submit" value="View Comments">
        </form>

        {% if current_user.username == post.author.username %}
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method=post>
                <input type="submit" value="Delete">

            </form>
        {% endif %}

        <form action="{{ url_for('give_importance', post_id=post.id) }}" method=post>
            <input type="submit" name="important" value="important">
        </form>

        {% for topic in post.topics if post.topics %}
        <a href="{{ url_for('search_topic', topic_query=topic.tag_name) }}">{{ topic.tag_name }}</a>
        {% endfor %}

        <p>Posted {{ post.age }} minutes ago.</p>

    </div>
</div>
