{% extends "base.html" %}
{% block content %}

    <div id="about-text">
        <h3>What is Nuncio?</h3>
        <p>Nuncio is the simple-to-use news site dedicated to curating any and all news.</p>
        <p>Nuncio is also a site that strives for quality in both it's user interactions
        and in the links shown.</p>
        <p>More unimportantly, the word nuncio stands for the papal ambassador,
        however this is not how the name came up.</p>

        <h3>Why Make Nuncio in the first place?</h3>
        <p>Nuncio is the response to some of the problems presented in modern news aggregators
           , some problems being unique to each platform and some being a problem
           found in all platforms.</p>
        
        <p>These problems include the personalisation of the news a user can see, a "personal
           front page", a lack of a strong voting system to allow users to actually curate their news,
           and the entrenchment of people's ideas through the unintentional creation of echo chambers.<p>

        <p>Nuncio manages to solve all of these problems by doing the following things:</p>
        <ul>
            <li>Have the current highest voted links appear as the main page, no personalisation done by
                the user so therefore no cherrypicking.</li>

            <li>Use a simple yet strong voting system to order posts by what users consider to be an important
                and good quality news article.</li>

            <li>Use a tagging system for better organisation and searching of articles you are interested in,
                for example to see news about your home city or a specific topic for research.</li>

        </ul>

    </div>


{% endblock %}
