{% extends "base.html" %}
{% block content %}

    <div id="about-text">
        <h3>What is Nuncio?</h3>
        <p>Nuncio is the simple-to-use news site dedicated to curating any and all news.</p><br />
        <p>Nuncio is also a site that strives for quality in both it's user interactions
        and in the links shown.</p><br />
        <p>More unimportantly, the word nuncio stands for the papal ambassador,
        however this is not how I came up with the name.</p>

        <h3>Why Make Nuncio in the first place?</h3>
        <p></p>
    </div>



{% endblock %}
