{% extends "base.html" %}
{% block content %}

    <h3>How you can contribute</h3>
        <p>Running a website requires a lot of work, and a larger team
           of people tends to ease the load off of that work.</p>

        <p>This is where <em>you</em> come in. Do you think that the
           codebase <a href="https://www.github.com/ModoUnreal/nuncio">(found here)</a>
           for this website needs improving? Make an issue or pull
           request, or just contact me! Do you think that the design
           looks unnecessarily like a Picasso? Tell me and provide
           suggestions!</p>

        <p>If you have any suggestions to improving this website
            or want to help out please do not
            <a href="{{ url_for('contact') }}"> hesitate to contact me.</a></p>

{% endblock %}
